a:link {
  color: #f94572;
  text-decoration: none;
}

a:visited {
  color: #f94572;
  text-decoration: none;
}

a:hover {
  color: #ff6b8f;
  text-decoration: none;
}

* {
  cursor: url(img/cursor.png) 14 0, auto;
}

body {
  background: #111;
  /* Text defaults */
  font-family: 'Muli', sans-serif;
  color: white;
}

#wrap {
  width: 960px;
  margin: 0 auto;
  position: relative;
  display: block;
  height: 900px;
}

#logo_header {
  height: 70px;
}

#canvas {
  position: relative;
  display: block;
  margin: 0 auto;
  border-radius: 5px;
  z-index: 10;

}



.nodrag,
img {
  /* Make image undraggable */
  user-drag: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

h4 {
  margin: 0px;
}

/* Overlay login */

#backdrop {
  height: 100vh;
  width: 100%;
  position: absolute;
  top: 0px;
  left: 0px;
  background: rgba(0, 0, 0, 0.8);
  z-index: 100;
}

#overlay {
  position: relative;
  margin: 0 auto;
  display: block;
  width: 400px;
  top: 20px;
}

input[type="checkbox"] {
  position: relative;
  top: 3px;
  transform: scale(1.5);
}

input[type="text"],
input[type="password"] {
  height: 30px;
  border-radius: 5px;
  border: none;
  padding: 5px;
  font-weight: 600;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
  margin-top: 6px;
  margin-bottom: 6px;
}

button {
  min-width: 100px;
  border-radius: 5px;
  height: 40px;
  padding: 5px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
  margin-top: 6px;
  margin-bottom: 6px;
  background: #cc3960;
  border: none;
  color: white;
  position: relative;
  transition: transform 0.05s, background 0.05s;
}

button:hover {
  transform: scale(1.05);
}

button:active {
  transform: scale(0.95);
}

button,
input:focus {
  outline: 0;
}

/* Stolen from overstacked */

.noselect {
  -webkit-touch-callout: none;
  /* iOS Safari */
  -webkit-user-select: none;
  /* Safari */
  -khtml-user-select: none;
  /* Konqueror HTML */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
  user-select: none;
  /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}

#insert-status {
  position: absolute;
  bottom: 20px;
  right: 20px;

}

#under-bar {
  position: relative;
  top: 5px;
  width: 95%;
  margin: 0 auto;
  z-index: 10;
}

#online-status {
  height: 20px;
  width: 20px;
  display: inline-block;
  border-radius: 20px;
  background: #f44242;
  top: 4px;
  position: relative;
}

#drop-down {
  height: 20px;
  top: 10px;
  position: relative;
}

/* Chat log */

#chat-log {
  height: 310px;
  border-radius: 0px 0px 10px 10px;
  background: black;
  position: relative;
  top: -30px;
}

#chat-window {
  height: 190px;
  background: #111;
  top: 45px;
  width: 586.6px;
  left: 20px;
  border-radius: 5px 5px 0px 0px;
  position: absolute;
  overflow-y: auto;
  overflow-x: hidden;
}

#chat-input {
  position: absolute;
  width: 576.6px;
  left: 20px;
  background: #282828;
  height: 40px;
  bottom: 20px;
  border-radius: 0px 0px 5px 5px;
  box-shadow: none;
  display: inline-block;
  color: white;
  font-weight: 100;
}

#command-tips {
  position: absolute;
  width: 376.6px;
  left: 20px;
  padding: 5px;
  background: #262626;
  height: 0px;
  bottom: 40px;
  font-weight: 100;
  border-radius: 5px;
  overflow-y: auto;
  overflow-x: hidden;
}

#friends-window {
  height: 200px;
  background: #111;
  display: inline-block;
  width: 310.3px;
  float: right;
  border-radius: 5px;
  position: absolute;
  right: 20px;
  top: 45px;
  overflow-y: auto;
  overflow-x: hidden;
}



::-webkit-scrollbar {
  width: 6px;
  height: 4px;

}

::-webkit-scrollbar-button {
  width: 0px;
  height: 0px;
}

::-webkit-scrollbar-thumb {
  background: #e1e1e1;
  border: 0px none #ffffff;
  border-radius: 50px;
}

::-webkit-scrollbar-track {

  background: #666666;
  border: 0px none #ffffff;
  border-radius: 50px;
}

::-webkit-scrollbar-corner {
  background: transparent;
}

::-webkit-scrollbar {
  cursor: url(img/cursor.png) 14 0, auto;
}


.chat-message {
  padding: 6px;
  padding-bottom: 8px;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.4);
}

.prefix {
  padding-right: 4px;
}

.chat-message-only {
  padding-left: 4px;
}

/* Hotbar (inventory toggle and more )*/

#inventory-toggle {
  position: relative;
  float: right;
  margin-right: 37px;
  top: 2px;
}

.backpack {
  height: 40px;
  position: absolute;
  top: -10px;
}

/* Backpack overlay */

#backpack {
  height: 540px;
  width: 960px;
  background: rgba(0, 0, 0, 0.8);
  position: absolute;
  top: 74px;
  left: 0px;
  border-radius: 5px;
  z-index: 100;
}

#bird-preview {
  height: 350px;
  top: 90px;
  right: 20px;
  position: absolute;
}

#backpack-grid {
  height: 460px;
  width: 440px;
  margin-left: 30px;
  top: 40px;
  position: relative;
  border-radius: 5px;
  background: rgba(0, 0, 0, 0.5);
  overflow-y: auto;
}

.item-slot {
  height: 70px;
  width: 70px;
  margin: 8px;
  display: inline-block;
  border-radius: 5px;
  position: relative;
  background: #fc535391;

}

#pet_preview {
  position: absolute;
  height: 150px;
  right: 300px;
  top: 50px;
}

.item-preview {
  height: 70px;
  position: absolute;
  top: 0px;
  left: 0px;
}

#new-item-background {
  height: 270px;
  width: 400px;
  background: #DB3E4A;
  position: absolute;
  top: 200px;
  left: 280px;
  border-radius: 5px;
  z-index: 100;
  transition: transform 0.2s;
  transform: scale(0);
}

.open-item {
  transform: scale(1);
}

#ok-button {
  position: absolute;
  bottom: 20px;
  right: 20px;
  background: white;
  color: black;
}

#new-item-banner {
  position: relative;
  margin: 0 auto;
  display: block;
  top: -118px;
}

#item-preview-new-item {
  height: 150px;
  position: relative;
  margin: 0 auto;
  display: block;
  bottom: 90px;
}

#new-item-background-two {
  height: 200px;
  width: 100%;
  background: rgba(0, 0, 0, 0.5);
  position: absolute;
  bottom: 0px;
  left: 0px;
  border-radius: 5px;
}

#new-item-tag {
  position: relative;
  margin: 0 auto;
  display: block;
  text-align: center;
  bottom: 250px;
  font-family: Ubuntu;
}

#choose_bird {
  height: 40px;
  width: 178px;
  border-radius: 5px;
  background: rgba(0, 0, 0, 0.4);
  margin-bottom: -20px;
}

.choose_bird {
  height: 40px;
  border-radius: 5px;
  transition: transform 0.05s;
  margin-left: 2.2px;
  margin-right: 2.2px;
}

.choose_bird:hover {
  transform: scale(1.05);
}

.choose_bird:active {
  transform: scale(0.95);
}
